body{
    display: flex;
    justify-content: center;
}
#root{
    width: 95vw;
    margin: 0 auto;
    min-height: 100vh;
}
main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    left: 0;
}

header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:20px;
    align-items: center;
    width: 95%;
    padding: 10px;
}

header p{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
.listar-xogos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
li{
    list-style: none;
    margin: 10px;
}
ul{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.xogo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.xogo-nome{
    font-size: 1.5rem;
    font-weight: bold;
}
.xogo-imaxe{
    width: 250px;
}
.xogo-descripcion{
    font-size: .8rem;
    color: #cccccc;
    text-align: center;
}

.form-nomes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 300px;
    padding: 30px;
    background-color: #242424;
}
.form-nomes h3{
    margin-left: -50%;
}
.form-nomes input{
    font-size: 1.3rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #242424;
    color: white;
    margin-bottom: 10px;
}
.div-blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}


.div-rigth{
    margin-left: auto;
}

footer{
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.corpo-xogo{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.xogadores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}